/** IMPORT **/
@import "media.css";

/** GLOBAL **/
html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

body {
  height: 100%;
  max-width: 1440px;
  margin: auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  color: #444;
  position: relative;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body>section {
  border: 0.125rem solid #EFEFEF;
  border-top: 0;
}

a {
  text-decoration: none;
  color: #00007F;
}

/** HEADER **/
header {
  min-height: 3.75rem;
  display: flex;
  flex-direction: row;
  flex: 0 0 auto;
  order: 0;
  background-color: #FFF;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  border-bottom: 0.125rem solid #EFEFEF;
  z-index: 6;
}

header img {
  height: 2.5rem;
  margin: 0 3.75rem;
  vertical-align: middle;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-right: 3.75rem;
}

nav a {
  margin-left: 3.25rem;
}

header a.icon {
  display: none;
  margin: 0 1.25rem;
  font-size: 1.56rem;
}

/** MAIN **/
#main {
  flex: 1 1 auto;
  order: 2;
  display: grid;
  grid-template-columns: 1fr 2px 3fr 2px 3fr;
  grid-template-rows: 1fr 1.875rem;
  min-height: 3.75rem;
}

#main h2 {
  margin: 0;
}

#exampleScripts {
  grid-column: 1;
  grid-row: 1/3;
  background-color: #F7F7F9;
  overflow: auto;
}

#exampleScripts h2 {
  background-color: #EFEFEF;
  padding: .25rem 1.125rem;
  font-size: 1rem;
  position: sticky;
  top: 0;
  align-self: stretch;
  line-height: 1.25rem;
}

#exampleLinks {
  overflow-y: auto;
}

.gutter {
  cursor: ew-resize;
  background-color: #EFEFEF;
}

#gutter1 {
  grid-column: 2;
  grid-row: 1/3;
}

#exampleCode {
  grid-column: 3;
  grid-row: 1/3;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

#exampleCode h2 {
  background-color: #F7F7F9;
  padding: .25rem 1.125rem;
  font-size: 1rem;
  position: sticky;
  top: 0;
  align-self: stretch;
  line-height: 1.25rem;
  border-bottom: .125rem solid #F7F7F9;
}

#codeArea {
  overflow: auto !important;
}

.CodeMirror {
  flex: 1;
  /* background-color: #EFEFEF;
    height: 31.25rem;
    overflow-y: auto;
    min-width: 300px; */
  font-size: 0.8rem;
}

/* #code {
  font-size: .8rem;
  white-space: pre-wrap;
} */
.ffjs {
  border: none;
  resize: none;
  flex: 1;
  outline: none;
}

#gutter2 {
  grid-column: 4;
  grid-row: 1/3;
}

#exampleResult {
  grid-column: 5;
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

#exampleResult h2 {
  flex: 0 0 auto;
  background-color: #F7F7F9;
  padding: .25rem 1.125rem;
  font-size: 1rem;
  top: 0;
  line-height: 1.25rem;
  border-bottom: .125rem solid #F7F7F9;
}

#resultContainer {
  flex: 1 1 auto;
  position: relative;
  display: inline-block;
  overflow-x: hidden;
}

#exampleResult #arrow {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#exampleResult #arrow-right {
  width: 0;
  height: 0;
  border-top: 40px solid transparent;
  border-bottom: 40px solid transparent;
  border-left: 60px solid #00007F;
  position: absolute;
  z-index: 1;
}

#exampleResult #arrow-right:hover {
  border-left-color: #0000FF;
  cursor: pointer;
}

#exampleResult #arrow-text {
  border: none;
  color: white;
  font-weight: 700;
  position: absolute;
  z-index: 2;
  background-color: transparent;
  pointer-events: none;
  left: calc(100%/2 - 24px);
}

#exampleResult #arrow-text:focus {
  outline: none;
}

.ffjs_graph {
  height: calc(100% - 1.875rem) !important;
  position: absolute;
  top: 0;
  padding-bottom: 1.875rem;
  left: 50%;
  transform: translateX(-50%);
}

#exampleConsole {
  grid-column: 5;
  grid-row: 2/3;
  background-color: #F7F7F9;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

#exampleConsole h2 {
  background-color: #F7F7F9;
  padding: .25rem 1.125rem;
  border: .125rem solid #EFEFEF;
  border-right: 0;
  border-left: 0;
  border-bottom: 0;
  font-size: 1rem;
  line-height: 1.25rem;
  order: 0;
}

#exampleConsole h2:hover {
  cursor: pointer;
}

#ffjs_stdout {
  padding: .625rem;
  font-family: monospace;
  order: 1;
  overflow: scroll;
  ;
}

.is-invisible {
  display: none !important;
}

/** FOOTER **/
footer {
  display: flex;
  flex: 0 0 auto;
  order: 3;
  min-height: 3.75rem;
  font-size: 1.25rem;
}

footer i {
  color: #FF699B;
}

footer img {
  height: 2.5rem;
  width: 2.5rem;
  align-self: center;
}

footer p, footer a, footer span {
  align-self: center;
  text-align: center;
  margin: 1.125rem 0;
  flex: 1 1 0;
}

/** SCROLLBAR DESIGN **/
body::-webkit-scrollbar {
  width: .55rem;
}

::-webkit-scrollbar {
  width: .27rem;
  height: .27rem;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #0000FF;
}

::-webkit-scrollbar-track {
  background-color: #EFEFEF;
}

#lgpl {
  margin-right: 1rem;
}
