@media screen and (max-width:1200px) {
  #code {
    width: 35% !important;
    min-width: unset !important;
  }

  #blank {
    width: 65% !important;
  }
}

/** FOR TABLETS **/
@media screen and (max-width:800px) {
  #main {
    flex-direction: column !important;
  }

  #intro {
    order: 1;
    width: 100% !important;
    height: unset !important;
    margin-bottom: 0.5rem !important;
    padding-left: 0 !important;
  }

  #demo {
    order: 2;
    width: 100% !important;
  }

  #blank video {
    width: 100% !important;
  }

  #platforms, #release, #download {
    margin: 10px !important;
  }

  #articles {
    display: block !important;
  }

  #articles article {
    margin-bottom: 1.875rem !important;
  }

  #artFirst, #artSecond {
    margin-right: 0 !important;
  }

  .top-nav {
    width: 0;
    overflow: hidden;
    flex-direction: column;
    position: absolute;
    top: 60px;
    background-color: #FFF;
    border-bottom: 0.125rem solid #EFEFEF;
    ;
  }

  .top-nav a {
    text-align: left !important;
    margin-left: 0.5rem auto 0.5rem 3.75rem;
    padding-bottom: 1.25rem;
  }

  header a.icon {
    float: right;
    display: block !important;
  }
}

/** FOR MOBILE PHONES **/
@media screen and (max-width:600px) {
  header img {
    margin: 0 1.25rem !important;
  }

  #banner button {
    margin-right: 1.25rem !important;
    padding: 0 !important;
  }

  #main {
    padding: 1.25rem !important;
  }

  #demo {
    flex-direction: column !important;
    width: 100% !important;
  }

  #blank {
    order: 1;
    width: 100% !important;
  }

  #code {
    order: 2;
    width: 100% !important;
    height: 100% !important;
  }

  aside {
    flex-direction: column !important;
    min-height: 15.625rem;
  }

  aside p {
    margin: 0 !important;
  }

  #download {
    margin: 0 !important;
  }

  #articles {
    padding: 1.25rem !important;
  }

  #info {
    flex-direction: column !important;
  }

  #events {
    border-top: 4.7rem solid transparent;
    margin-top: -4.7rem;
    background-clip: padding-box;
    order: 1;
    width: 100% !important;
    padding: 0 !important;
  }

  #events h1 {
    margin-left: 1.25rem;
  }

  .event-grid {
    grid-template-rows: auto auto !important;
    margin: 0 1.25rem !important;
  }

  #team {
    order: 2;
    width: 100% !important;
    padding: 0 !important;
  }

  #team img {
    height: 2.5rem !important;
  }

  #ffdaysMain {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #ffdaysTitle img {
    height: unset !important;
    width: 80%;
  }

  #ffdaysCal {
    width: 100% !important;
  }

  #ffdaysDesc {
    width: unset !important;
    margin: 20px 10px !important;
  }

  #ffdaysCal .days {
    display: flex !important;
    flex-direction: column;
    margin: 20px 10px !important;
  }

  #ffdaysCal .days .day {
    width: unset !important;
    border-right: none !important;
    border-bottom: 2px solid #EFEFEF;
    padding: 20px;
  }

  #ffdaysCal .days .program {
    width: unset !important;
    padding: 0 10px !important;
  }

  #ffdaysCal table {
    display: block !important;
    overflow-x: auto;
  }

  #ffdaysCal th, #ffdaysCal td {
    white-space: nowrap;
    border: none !important;
  }

  footer {
    flex-direction: column !important;
  }
}
