/** IMPORT **/
@import "media.css";

/** GLOBAL **/
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

body {
  min-height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  color: #444;
  position: relative;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body > section {
  border-bottom: 0.125rem solid #EFEFEF;
}

a {
  text-decoration: none;
  color: #00007F;
}

a:hover {
  color: #0000FF;
}

/** HEADER **/
header {
  min-height: 60px;
  display: flex;
  flex-direction: row;
  background-color: #FFF;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  border-bottom: 0.125rem solid #EFEFEF;
  position: sticky;
  top: 0;
  padding: 0 calc((100% - 1200px)/2);
}

header img {
  height: 2.5rem;
  margin: 0 3.75rem 0 1rem;
  vertical-align: middle;
}

#donate {
  background-color: #00007F;
  color: #fff;
  font-weight: 900;
  padding: 0 0.25rem;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-right: 3.75rem;
}

nav a {
  margin-left: 2.5rem;
}

header a.icon {
  display: none;
  margin: 0 1.25rem;
  font-size: 1.56rem;
}

/** BANNER **/
#banner {
  background-color: #00007F;
  display: grid;
  grid-template-columns: auto 20px;
  grid-auto-rows: auto;
  justify-items: center;
  align-items: center;
  padding: 0 calc((100% - 1200px)/2);
}

#banner a {
  grid-row: 1;
  grid-column: 1;
  padding: 0.5rem;
}

#ffdaysImg {
  height: 2.5rem;
  vertical-align: middle;
}

#banner button {
  grid-row: 1;
  grid-column: 2;
  background-color: transparent;
  border: none;
  justify-self: end;
  margin-right: 1.25rem;
}

#bannerCross {
  height: 20px;
}

#banner button:hover {
  cursor: pointer;
}

#banner button:focus {
  outline: none;
}

/** MAIN **/
#main {
	flex: 1;
	display: flex;
	flex-direction: row;
	background-color: #F7F7F9;
	align-items: stretch;
	justify-content: space-between;
	padding: 1.875rem calc((100% - 1200px)/2);
}

#demo {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  border: 0.125rem solid #EFEFEF;
  width: 70%;
}

#code {
  background-color: #EFEFEF;
  height: 31.25rem;
  overflow-y: auto;
  min-width: 300px;
  font-size: 0.75rem;
}

#code pre {
  margin: 0.625rem;
}

#blank {
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#blank video {
  width: 70%;
  background-color: white;
}

#intro {
  font-size: 1.25rem;
  font-weight: 300;
  padding-left: 3.75rem;
  align-self: center;
  width: 40%;
}

#intro h1 {
  padding: 0;
  margin: 0;
  font-size: 2.375rem;
}

#intro p {
  line-height: 1.9rem;
}

/** ASIDE **/
aside {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-size: 1.25rem;
  font-weight: 300;
  color: #00007F;
  text-align: center;
  border-bottom: 0.125rem solid #EFEFEF;
  padding: 0 calc((100% - 1200px)/2);
}

aside i {
  margin: 0.625rem 0.312rem;
  font-size: 1.56rem;
}

#release {
  display: flex;
  justify-content: center;
}

#release strong {
  display: block;
  font-size: 1.9rem;
  font-weight: 700;
}

#download a {
  font-weight: bold;
  color: #FFF;
  background-color: #0000FF;
  padding: 1rem 4.625rem;
  font-size: 2.125rem;
  line-height: 4.625rem;
}

#platforms, #release, #download {
  margin: 1.875rem 0;
  flex: 1 1 0;
}

#platforms p {
  padding: 0;
  margin: 0;
}

aside span {
  display: block;
}

/** CONTENT BLOC**/
#content {
  text-align: center;
  /* padding: 0 calc((100% - 1200px)/2); */
}

#content article {
	display: block;
	padding: 1rem calc((100% - 1200px)/2);
	margin-bottom: 1rem;
	background-color: #F7F7F9;
	text-align: justify;
}

#content article h2 {
	margin: 0.55rem;
}

#content article.content-left {
	padding-right: 1rem;
	margin-right: calc(50%/2);
}

#content article.content-left h2 {
	text-align :right;
}

#content article.content-right {
	padding-left: 1rem;
	margin-left: calc(50%/2);
}

/** ARTICLES **/
#articles {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  padding: 3.75rem calc((100% - 1200px)/2);
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  column-gap: 2.625rem;
}

#articles a {
  color: #444;
}

#articles a:hover {
  color: #00007F;
}

#articles h1 {
  grid-row: 1;
  grid-column: 1/4;
  font-size: 2.5rem;
  margin: 0 0 1.625rem 0;
}

#articles h2 {
  font-size: 1.25rem;
}

#articles article {
  background-color: #F7F7F9;
  padding: 1.25rem;
  text-align: justify;
}

#articles article p {
  color: #A1AEB7;
  line-height: 1.375rem;
}

#artFirst, #artSecond, #artThird {
  grid-row: 2;
}

/** INFORMATION **/
#info {
  display: flex;
  flex-direction: row;
  padding: 0 calc((100% - 1200px)/2);
}

#info .event {
  margin-bottom: 1.25rem;
}

/** EVENTS **/
#events {
  display: flex;
  flex-direction: column;
  background-color: #F7F7F9;
  padding: 1.25rem 3.75rem;
  width: 50%;
}

.event-grid {
  display: grid;
  grid-template-columns: 8rem auto;
  grid-template-rows: 1.875rem auto;
  grid-template-areas: "date title""date description";
}

#events h1 {
  font-size: 2.5rem;
}

.date {
  grid-area: date;
  font-size: 1.25rem;
  font-weight: 700;
  text-align: right;
  justify-self: end;
  padding-right: 0.625rem;
  word-spacing: 9999rem;
  color: #505D68;
}

.title {
  grid-area: title;
  padding-left: 0.625rem;
  border-left: 0.125rem solid #C8C8C8;
  font-size: 1.25rem;
  font-weight: 300;
  margin: 0;
}

.description {
  grid-area: description;
  margin: 0;
  padding-left: 0.625rem;
  border-left: 0.125rem solid #C8C8C8;
  color: #A1AEB7;
  font-weight: 300;
}

/** TEAM **/
#team {
  display: flex;
  flex-direction: column;
  padding: 1.25rem 3.75rem;
  width: 50%;
}

#team h1 {
  text-align: center;
  font-size: 2.5rem;
}

#team div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#team img {
  height: 5rem;
  margin: 1rem;
}

/** FOOTER **/
footer {
  display: flex;
  min-height: 3.75rem;
  font-size: 1.25rem;
  padding: 0 calc((100% - 1200px)/2);
}

footer i {
  color: #FF699B;
  font-size: 1.1rem;
}

footer img {
  height: 2.5rem;
  width: 2.5rem;
  align-self: center;
}

footer p, footer a, footer span {
  align-self: center;
  flex: 1 1 0;
  text-align: center;
  margin: 1.125rem 0;
}

/** SCROLLBAR DESIGN **/
body::-webkit-scrollbar {
  width: .55rem;
}

::-webkit-scrollbar {
  width: .27rem;
  height: .27rem;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #0000FF;
}

#lgpl {
  margin-right: 1rem;
}

/** GALLERY **/
#galleryMain {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  flex: 1;
  max-height: calc(100vh - 60px - 4rem);
}

#galleryTitle {
  width: 40%;
  background-color: #F7F7F9;
  border-right: 2px solid #EFEFEF;
}

#galleryTitle ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
}

#galleryTitle ul a {
  display: unset !important;
}

#galleryTitle ul .wrap {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

#galleryTitle ul .wrap div {
  display: none;
}

#galleryTitle li {
  background-color: #FFF;
  border: 0.125rem solid #EFEFEF;
  margin: 1rem 1rem 0 1rem;
  padding: 0.625rem;
}

#galleryTitle li a {
  color: #444;
  font-size: 1.25rem;
  font-weight: 700;
}


#galleryTitle li p a {
  font-size: inherit;
  font-weight: inherit;
}

#galleryTitle li.active {
  display: flex;
  flex: 1 1 auto;
}

#galleryTitle li.active a {
  color: #00007F;
}

#galleryTitle li a:hover {
  color: #0000FF;
}

#galleryTitle li.active .wrap div {
  display: block;
  overflow: auto;
}

#galleryImg {
	width: 60%;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow: auto;
}

#galleryImg table {
	max-width: 90%;
	text-align: center;
	margin-bottom: 1rem;
	box-shadow: 2px 2px 2px grey;
}

#galleryImg tbody {
	font-weight: bold;
}

#galleryImg img {
	max-width: 90%;
}

/** FREEFEM DAYS **/
#ffdaysMain {
  background-color: #F7F7F9;
  border-bottom: 2px solid #EFEFEF;
}

#ffdaysTitle {
  text-align: center;
  color: #00007F;
  font-size: 1.2rem;
}

#ffdaysTitle img {
  height: 65px;
  margin: 60px auto 30px auto;
}

#ffdaysDesc {
  background-color: #FFF;
  border: 2px solid #EFEFEF;
  width: 60%;
  margin: 20px auto;
  padding: 10px 20px;
  text-align: center;
  line-height: 23px;
}

#ffdaysDesc h2 {
  font-size: 2rem;
}

#ffdaysDesc p {
  font-size: 1.2rem;
}

#ffdaysCal {
  display: flex;
  flex-direction: column;
}

#ffdaysCal .days {
  background-color: #FFF;
  border: 2px solid #EFEFEF;
  margin: 20px 60px;
  display: inline-flex;
}

#ffdaysCal .days .day {
  width: 30%;
  border-right: 2px solid #EFEFEF;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#ffdaysCal .days .day p, #ffdaysCal .days .day h2 {
  text-align: center;
  margin: 0;
  padding: 0 10px;
  color: #00007F;
}

#ffdaysCal .days .day p:not(:last-child) {
  font-size: 20px;
  line-height: 23px;
}

#ffdaysCal .days .day p:last-child {
  font-style: italic;
  line-height: 19px;
  color: #444 !important;
}

#ffdaysCal .days .day h2 {
  font-size: 80px;
}

#ffdaysCal .days .program {
  width: 70%;
  padding: 0 60px;
}

#ffdaysCal .days .program h2 {
  font-size: 40px;
  margin: 20px 0;
  font-weight: 900;
}

#ffdaysCal table {
  border-collapse: collapse;
  margin-bottom: 40px;
}

#ffdaysCal table, #ffdaysCal th, #ffdaysCal td {
  border: 2px solid #EFEFEF;
}

#ffdaysCal th {
  white-space: nowrap;
  text-align: left;
}

#ffdaysCal th, #ffdaysCal td {
  padding: 15px 25px;
}

#ffdaysCal tr:nth-child(even) {
  background-color: #F7F7F9;
}

.OSMap {
  text-align: center !important;
}

#ffdaysMap {
  margin: 20px 60px;
  line-height: 26px;
  font-size: 20px;
}

#ffdaysMap iframe {
  height: 300px;
  width: 100%;
  border: none;
}

#ffdaysMap li {
  list-style-type: none;
  margin: 10px 0;
}
