<!doctype html>
<html lang="en">
    {% include head.html %}
    <script type="application/ld+json">
    [
      {
        "@context": "https://schema.org",
        "@type": "Organization",
        "name": "FreeFEM",
        "url": "http://www.freefem.org",
        "logo": "https://freefem.github.io/FreeFem-website2/img/FreeFEM_Symbol_592x592.png"
      },
      {
        "@context": "http://schema.org",
        "@type": "Event",
        "name": "Conference 1",
        "description": "FreeFEM conference 1",
        "image": "https://freefem.github.io/FreeFem-website2/img/FreeFEM_Symbol_592x592.png",
        "startDate": "2019-03-13T17:30",
        "endDate": "2019-03-13T18:30",
        "performer": {
          "@type": "Person",
          "name": "Frédéric Hecht"
        },
        "location": {
          "@type": "Place",
          "name": "Sorbonne University",
          "address": {
            "@type": "PostalAddress",
            "streetAddress": "",
            "addressLocality": "Paris",
            "postalCode": "",
            "addressCountry": "FR"
          }
        }
      },
      {
        "@context": "http://schema.org",
        "@type": "Event",
        "name": "Conference 2",
        "description": "FreeFEM conference 2",
        "image": "https://freefem.github.io/FreeFem-website2/img/FreeFEM_Symbol_592x592.png",
        "startDate": "2019-03-13T17:30",
        "endDate": "2019-03-13T18:30",
        "performer": {
          "@type": "Person",
          "name": "Frédéric Hecht"
        },
        "location": {
          "@type": "Place",
          "name": "Sorbonne University",
          "address": {
            "@type": "PostalAddress",
            "streetAddress": "",
            "addressLocality": "Paris",
            "postalCode": "",
            "addressCountry": "FR"
          }
        }
      },
      {
        "@context": "http://schema.org",
        "@type": "Event",
        "name": "Conference 3",
        "description": "FreeFEM conference 3",
        "image": "https://freefem.github.io/FreeFem-website2/img/FreeFEM_Symbol_592x592.png",
        "startDate": "2019-03-13T17:30",
        "endDate": "2019-03-13T18:30",
        "performer": {
          "@type": "Person",
          "name": "Frédéric Hecht"
        },
        "location": {
          "@type": "Place",
          "name": "Sorbonne University",
          "address": {
            "@type": "PostalAddress",
            "streetAddress": "",
            "addressLocality": "Paris",
            "postalCode": "",
            "addressCountry": "FR"
          }
        }
      }
    ]
    </script>
    <body>
        {% include header.html %}

        <section id="main">
            <article id="demo">
                <div id="code">
                  <pre><code>load "msh3"

// Parameters
func ue = 2.*x*x + 3.*y*y
        + 4.*z*z + 5.*x*y
        + 6.*x*z + 1.;
real f = -18.;

// Mesh
mesh3 Th = readmesh3("Sphere.mesh");
int[int] Wall = [1];

// Fespace
fespace Vh(Th, P23d);
Vh u, v;

// Macro
macro Grad3(u) [dx(u), dy(u), dz(u)] //

// Problem
problem Lap3d (u, v, solver=CG)
    = int3d(Th)(
          Grad3(v)' * Grad3(u)
    )
    - int3d(Th)(
          f * v
    )
    + on(Wall, u=ue)
    ;

// Solve
Lap3d;
cout << "u min: " << u[]. min
     << " - max: " << u[].max
     << endl;

// Plot
plot(u, wait=true);

// Save
load "iovtk"
{
	fespace PVh(Th, P1);
	PVh uu = u;

	string DataName = "u";
	int[int] Order = [1];

	savevtk("Result.vtu", Th,
	        uu, dataname=DataName,
	        order=Order);
}
                  </code></pre>
                </div>

                <div id="blank">
					<video id="laplacianVideo" playsinline autoplay muted loop>
						<source src="{{ site.url }}{{ site.baseurl }}/vid/sphere.webm" type="video/webm" />
						<source src="{{ site.url }}{{ site.baseurl }}/vid/sphere.mp4" type="video/mp4" />
						<img src="{{ site.url }}{{ site.baseurl }}/img/simulation_poisson_3d.jpg" alt="Poisson's equation 3D - Iso-surfaces of the solution">
					</video>
				</div>
            </article>

            <article id="intro">
                <h1>A high level multiphysics finite element software</h1>
                <p>FreeFem++ offers a fast interpolation algorithm and a language for the manipulation of data on multiple meshes.</p>
            </article>
        </section>

        <aside>
            <div id="release">RELEASE</div>
            <div id="download"><a href="https://github.com/FreeFem/FreeFem-sources/releases" target="_blank">Download</a></div>
            <div id="platforms">
                <p><span><i class="fab fa-apple"></i> <i class="fab fa-linux"></i> <i class="fab fa-windows"></i></span>All platforms (LGPL)</p>
            </div>
        </aside>

        <section id="empty">GROS BLOC VIDE</section>

        <section id="articles">
            <h1>Latest Articles</h1>
            <article id="artFirst">
              <a href="{{ site.data.articles.articles[0].link }}" target="_blank">
                <p>{{ site.data.articles.articles[0].date | date: '%B %d, %Y' }} | {{ site.data.articles.articles[0].authors }}</p>
                <h2>{{ site.data.articles.articles[0].title }}</h2>
                <p>
                  {{ site.data.articles.articles[0].abstract }}
                </p>
              </a>
            </article>
            <article id="artSecond">
              <a href="{{ site.data.articles.articles[1].link }}" target="_blank">
                <p>{{ site.data.articles.articles[1].date | date: '%B %d, %Y' }} | {{ site.data.articles.articles[1].authors }}</p>
                <h2>{{ site.data.articles.articles[1].title }}</h2>
                <p>
                  {{ site.data.articles.articles[1].abstract }}
                </p>
              </a>
            </article>
            <article id="artThird">
              <a href="{{ site.data.articles.articles[2].link }}" target="_blank">
                <p>{{ site.data.articles.articles[2].date | date: '%B %d, %Y' }} | {{ site.data.articles.articles[2].authors }}</p>
                <h2>{{ site.data.articles.articles[2].title }}</h2>
                <p>
                  {{ site.data.articles.articles[2].abstract }}
                </p>
              </a>
            </article>
        </section>

        <section id="info">
            <section id="events">
                <h1>Events</h1>

                <div class="event-grid">
                  <div class="date">21 MARCH 2019</div>
                  <h2 class="title">Conference 1 - Paris</h2>
                  <p class="description">The 8th tutorial and Workshop on FreeFem++ (inscription here). Schedule, All Presentation, examples and directory this all data.<p/>
                </div>

                <div class="event-grid">
                  <div class="date">22 AUGUST 2019</div>
                  <h2 class="title">Conference 2 - Paris</h2>
                  <p class="description">FreeFEM introduction conference<p/>
                </div>

                <div class="event-grid">
                  <div class="date">23 SEPTEMBER 2019</div>
                  <h2 class="title">Conference 3 - Paris</h2>
                  <p class="description">FreeFEM introduction conference<p/>
                </div>
            </section>

            <section id="team">
              <h1>You are in good company</h1>
              <div>
                <a href="http://www.sorbonne-universite.fr/" target="_blank"><img alt="Sorbonne université" src="{{ site.url }}{{ site.baseurl }}/img/logo_Sorbonne.svg"/></a>
                <a href="https://www.inria.fr/" target="_blank"><img alt="INRIA" src="{{ site.url }}{{ site.baseurl }}/img/logo_INRIA_EN.svg"/></a>
                <a href="http://www.agence-nationale-recherche.fr/" target="_blank"><img alt="ANR" src="{{ site.url }}{{ site.baseurl }}/img/logo_ANR.svg"/></a>
                <a href="http://www.genci.fr/" target="_blank"><img alt="Genci" src="{{ site.url }}{{ site.baseurl }}/img/logo_Genci.jpg"/></a>
				        <a href="http://www.cnrs.fr/" target="_blank"><img alt="CNRS" src="{{ site.url }}{{ site.baseurl }}/img/logo_CNRS.svg"/></a>
              </div>
            </section>
        </section>

        {% include footer.html %}
        <script src="{{ site.url }}{{ site.baseurl }}/js/codeColor.js"></script>
        <script src="{{ site.url }}{{ site.baseurl }}/js/openNav.js"></script>
		<script src="{{ site.url }}{{ site.baseurl }}/js/githubRelease.js"></script>
    </body>
</html>
