<!doctype html>
<html lang="en">
    {% include head.html %}
    <script type="application/ld+json">
    [
      {
        "@context": "http://schema.org",
        "@type": "Event",
        "name": "Conference 1",
        "description": "FreeFEM conference 1",
        "image": "https://freefem.github.io/FreeFem-website2/img/FreeFEM_Symbol_592x592.png",
        "startDate": "2019-03-13T17:30",
        "endDate": "2019-03-13T18:30",
        "performer": {
          "@type": "Person",
          "name": "Frédéric Hecht"
        },
        "location": {
          "@type": "Place",
          "name": "Sorbonne University",
          "address": {
            "@type": "PostalAddress",
            "streetAddress": "",
            "addressLocality": "Paris",
            "postalCode": "",
            "addressCountry": "FR"
          }
        }
      },
      {
        "@context": "http://schema.org",
        "@type": "Event",
        "name": "Conference 2",
        "description": "FreeFEM conference 2",
        "image": "https://freefem.github.io/FreeFem-website2/img/FreeFEM_Symbol_592x592.png",
        "startDate": "2019-03-13T17:30",
        "endDate": "2019-03-13T18:30",
        "performer": {
          "@type": "Person",
          "name": "Frédéric Hecht"
        },
        "location": {
          "@type": "Place",
          "name": "Sorbonne University",
          "address": {
            "@type": "PostalAddress",
            "streetAddress": "",
            "addressLocality": "Paris",
            "postalCode": "",
            "addressCountry": "FR"
          }
        }
      },
      {
        "@context": "http://schema.org",
        "@type": "Event",
        "name": "Conference 3",
        "description": "FreeFEM conference 3",
        "image": "https://freefem.github.io/FreeFem-website2/img/FreeFEM_Symbol_592x592.png",
        "startDate": "2019-03-13T17:30",
        "endDate": "2019-03-13T18:30",
        "performer": {
          "@type": "Person",
          "name": "Frédéric Hecht"
        },
        "location": {
          "@type": "Place",
          "name": "Sorbonne University",
          "address": {
            "@type": "PostalAddress",
            "streetAddress": "",
            "addressLocality": "Paris",
            "postalCode": "",
            "addressCountry": "FR"
          }
        }
      }
    ]
    </script>
    <body>
        {% include header.html %}

        <section id="main">
            <article id="demo">
                <div id="code">
                  <pre><code>load "msh3"

// Parameters
func ue = 2.*x*x + 3.*y*y
        + 4.*z*z + 5.*x*y
        + 6.*x*z + 1.;
real f = -18.;

// Mesh
mesh3 Th = readmesh3("Sphere.mesh");
int[int] Wall = [1];

// Fespace
fespace Vh(Th, P23d);
Vh u, v;

// Macro
macro Grad3(u) [dx(u), dy(u), dz(u)] //

// Problem
problem Lap3d (u, v, solver=CG)
    = int3d(Th)(
          Grad3(v)' * Grad3(u)
    )
    - int3d(Th)(
          f * v
    )
    + on(Wall, u=ue)
    ;

// Solve
Lap3d;
cout << "u min: " << u[]. min
     << " - max: " << u[].max
     << endl;

// Plot
plot(u, wait=true);

// Save
load "iovtk"
{
	fespace PVh(Th, P1);
	PVh uu = u;

	string DataName = "u";
	int[int] Order = [1];

	savevtk("Result.vtu", Th,
	        uu, dataname=DataName,
	        order=Order);
}
                  </code></pre>
                </div>

                <div id="blank">
					<video id="laplacianVideo" playsinline autoplay muted loop>
						<source src="vid/sphere.webm" type="video/webm" />
						<source src="vid/sphere.mp4" type="video/mp4" />
						<img src="img/simulation_poisson_3d.jpg" alt="Poisson's equation 3D - Iso-surfaces of the solution">
					</video>
				</div>
            </article>

            <article id="intro">
                <h1>A high level multiphysics finite element software</h1>
                <p>FreeFem++ offers a fast interpolation algorithm and a language for the manipulation of data on multiple meshes.</p>
            </article>
        </section>

        <aside>
            <div id="release">RELEASE</div>
            <div id="download"><a href="https://github.com/FreeFem/FreeFem-sources/releases" target="_blank">Download</a></div>
            <div id="platforms">
                <p><span><i class="fab fa-apple"></i> <i class="fab fa-linux"></i> <i class="fab fa-windows"></i></span>All platforms (LGPL)</p>
            </div>
        </aside>

        <section id="empty">GROS BLOC VIDE</section>

        <section id="articles">
            <h1>Latest Articles</h1>
            <article id="artFirst">
                <p>13 February 2019 | A.M. Castro, E.Y. Mayorga and F.L. Moreno</p>
                <h2>Mathematical modelling of convective drying of feijoa (Acca sellowianaBerg) slices</h2>
                <p>
                  A two-dimensional mathematical model for coupled heat and mass transfer during convective drying of feijoa (Acca sellowianaBerg) slices was implemented. Thethermophysical and transport properties were considered variable and the effective moisture diffusion coefficient was determined based on the Arrhenius-typetemperature dependence.
                </p>
                <p>
                  The convective heat and mass transfer coefficients were obtained from the minimization of the function in terms of the error of experi-mental and predicted data. The model was solved by means of thefinite element method programmed in FreeFEM. This is a free software that has not been reportedfor fruit convective drying modelling, but this software can be used for drying modelling in fruits.
                </p>
                <p>
                  The model was validated against experimental data for airvelocities of 0.5 and 1 ms−1, temperatures of 50, 60, and 70 °C and slice thicknesses of 0.003 and 0.005 m through Lin's concordance correlation coefficient (ρc).Which has not been reported for validation in drying modelling though it is a reliable indicator of model agreement.
                </p>
                <p>
                  Experimental data were well predicted with themodel, with concordance correlation coefficients of 0.9653 and 0.9872 for moisture content and temperature, respectively. The model was found to be suitable todescribe, with sufficient accuracy, the heat and mass transfer during drying, and hence, it is appropriate for engineering applications.
                </p>
            </article>
            <article id="artSecond">
                <p>February 13, 2019 | D. Fabre, V. Citro, D. Ferreira Sabino, P. Bonnefis, J. Sierra, F. Giannetti and M. Pigou</p>
                <h2>A Practical Review on Linear and Nonlinear Global Approaches to Flow Instabilities</h2>
                <p>
                  This paper aims at reviewing linear and nonlinear approaches to study the stability of fluid flows. We provide a concise but self-contained exposition of the main concepts and specific numerical methods designed for global stability studies, including the classical linear stability analysis, the adjoint-based sensitivity, and the most recent nonlinear developments.
                </p>
                <p>
                  Regarding numerical implementation, a number of ideas making resolution particularly efficient are discussed, including mesh adaptation, simple shift-invert strategy instead of the classical Arnoldi algorithm, and a simplification of the recent nonlinear self-consistent (SC) approach proposed by Mantič-Lugo et al. (2014, “Self-Consistent Mean Flow Description of the Nonlinear Saturation of the Vortex Shedding in the Cylinder Wake,” Phys. Rev. Lett., 113(8), p. 084501).
                </p>
                <p>
                  An open-source software implementing all the concepts discussed in this paper is provided. The software is demonstrated for the reference case of the two-dimensional (2D) flow around a circular cylinder, in both incompressible and compressible cases, but is easily customizable to a variety of other flow configurations or flow equations.
                </p>
            </article>
            <article id="artThird">
                <p>December 6, 2018 | A. Rakotondrandisa, I. Danaila and L. Danaila</p>
                <h2>Numerical modelling of a melting-solidification cycle of a phase-change material with complete or partial melting</h2>
                <p>
                  A high accuracy numerical model is used to simulate an alternate melting and solidification cycle of a phase change material (PCM). We use a second order (in time and space) finite-element method with mesh adaptivity to solve a single-domain model based on the Navier-Stokes-Boussinesq equations.
                </p>
                <p>
                  An enthalpy method is applied to the energy equation. A Carman-Kozeny type penalty term is introduced in the momentum equation to bring the velocity to zero inside the solid region. The mesh is dynamically adapted at each time step to accurately capture the interface between solid and liquid phases, the boundary-layer structure at the walls and the multi-cellular unsteady convection in the liquid.
                </p>
                <p>
                  We consider the basic configuration of a differentially heated square cavity filled with an octadecane paraffin and use experimental and numerical results from the literature to validate our numerical system. The first study case considers the complete melting of the PCM (liquid fraction of 95%), followed by a complete solidification.
                </p>
                <p>
                  For the second case, the solidification is triggered after a partial melting (liquid fraction of 50%). Both cases are analysed in detail by providing temporal evolution of the solidliquid interface, liquid fraction, Nusselt number and accumulated heat input. Different regimes are identified during the melting-solidification process and explained using scaling correlation analysis. Practical consequences of these two operating modes are finally discussed.
                </p>
            </article>
        </section>

        <section id="info">
            <section id="events">
                <h1>Events</h1>

                <div id="dateFirst" class="date event">21 MARCH 2019</div>
                <h2 id="eventFirst" class="desc event">Conference 1 - Paris</h2>"
                <p>FreeFEM introduction conference<p/>


                <div id="dateSecond" class="date event">22 AUGUST 2019</div>
                <h2 id="eventSecond" class="desc event">Conference</h2>
                <p>FreeFEM introduction conference<p/>

                <div id="dateThird" class="date event">23 SEPTEMBER 2019</div>
                <h2 id="eventThird" class="desc event">Conference</h2>
                <p>FreeFEM introduction conference<p/>

            </section>

            <section id="team">
              <h1>YOU ARE IN GOOD COMPANY</h1>
              <div>
                <a href="http://www.sorbonne-universite.fr/" target="_blank"><img alt="Sorbonne université" src="img/logo_Sorbonne.svg"/></a>
                <a href="https://www.inria.fr/" target="_blank"><img alt="INRIA" src="img/logo_INRIA_EN.svg"/></a>
                <a href="http://www.agence-nationale-recherche.fr/" target="_blank"><img alt="ANR" src="img/logo_ANR.svg"/></a>
                <a href="http://www.genci.fr/" target="_blank"><img alt="Genci" src="img/logo_Genci.jpg"/></a>
				        <a href="http://www.cnrs.fr/" target="_blank"><img alt="CNRS" src="img/logo_CNRS.svg"/></a>
              </div>
            </section>
        </section>

        {% include footer.html %}
        <script src="js/codeColor.js"></script>
        <script src="js/openNav.js"></script>
		<script src="js/githubRelease.js"></script>
    </body>
</html>
