<!doctype html>
<html>
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/css/exampleStyle.css">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
      <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,700,900" rel="stylesheet">
      <link rel="icon" href="{{ site.url }}{{ site.baseurl }}/img/FreeFEM_Symbol_592x592.png" />
      <title>{{ page.title }}</title>
    </head>

    <body>
    		<script async src="//www.ljll.math.upmc.fr/lehyaric/ffjs/jquery-1.11.2.min.js"></script>
    		<script async src="//www.ljll.math.upmc.fr/lehyaric/ffjs/17.1/freefem.min.js" type="text/javascript"></script>
    		<script async src="//www.ljll.math.upmc.fr/lehyaric/ffjs/17.1/ffapi.js" type="text/javascript"></script>

        {% include header.html %}

        <section id="main">

			      <textarea class="ffjs">
mesh Th=square(10,10);
plot(Th);
			      </textarea>

      			<button type="button" onclick="ffjs_evaluate()">evaluate</button>
      			<div id="ffjs_stdout" style="font-family:monospace;"></div>
      			<div id="ffjs_stderr" style="font-family:monospace;"></div>
      			<canvas class="ffjs_graph" data-ffjs="default" style="width:100%;">
      				(message for older browsers where canvas is not implemented)
      			</canvas>

		    </section>

        {% include footer.html %}

        <script src="{{ site.url }}{{ site.baseurl }}/js/openNav.js"></script>
    </body>
</html>
